# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env*
*.venv
venv/
ENV/
.envrc

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Test and coverage
.coverage
htmlcov/
*.log

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Distribution
build/
dist/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# FastAPI
instance/

# Other
*.tar.gz
*.zip
*.tgz
*.gz
